<div id="<%= dom_id girl %>">
  <p>
    <strong>Name:</strong>
    <%= girl.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= girl.content %>
  </p>
  <p>
    <strong>Image:</strong>
    <%= image_tag(girl.image.to_s) %>
  </p>

</div>
