<div id="<%= dom_id girl %>" class="uk-card uk-card-default uk-card-hover uk-card-body" >
  <h3 class="uk-card-title"><%= girl.name %></h3>
  
  <p>
    <%= image_tag(girl.image.to_s) %>
  </p>

  <p>
    <%= link_to "", girl,class: 'test' %>
  </p>
</div>
